*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
}

header{
    display: flex;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url(imgs/HeartofKYWebLogo.jpg);
    background-size: cover;
    background-position: center;
    height:400px;
    flex-direction: column;
    align-content: center;

}

header .title{
    display:flex;
    font-family: "Segoe Print";
    text-align: center;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size:50px;
    margin: auto;
    flex-wrap:wrap;
    color: rgba(249, 249, 249, 1);
    height: fit-content;
    order:1;
}

nav{
    position:fixed;
    display: flex;
    width: 100%;
    height: 40px;
    align-content: center;
    align-items: center;
    flex-grow: auto;
    justify-content: flex-end;
    animation: color-change .1s;
    animation-timeline: scroll();
}

nav ul {
    list-style: none;
    gap:30px;
    display:flex;  
    margin-right: 60px;
}

nav a:link{
    color: solid white;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:visited{
    color: #6e8cb5;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    display: none;
}

#inspiration{
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color: #1877f2;
}

.social:nth-child(1) img{
    /*background-color: #1877f2;*/
    /*okay this is is cool. I like what we did for the gradient*/
    border-radius: 100%;
    background-image: linear-gradient(#1877f2, #6e8cb5);
    width: 60px;
}
.social:nth-child(2) img{
    /*I think we can add a linear gradient where the patterns of 
    Instagram flow in*/ 
    background-color: #fe005c;
    border-radius: 100%;
    background-image: linear-gradient(#eb89ad,#fe005c);
    width: 60px;
}
aside{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0px 20px 0px;
}

p,h2,h3,address,.phone{ 
    margin: 10px 50px 10px 50px;

}

p{
    font-family: Arial, Helvetica, sans-serif;
}
h2, h3{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul{
    margin: 10px 50px 10px 50px;
}

#childcare aside, #activities aside, #support aside, #preschool aside, #concerns aside{
    display:none; /* The socials image for every other pages except home is hidden.*/
}
#whyChildcare .imgdiv{
    display:none; /* There was a photo not in the original website which was removed.*/
}
#whyChildcare div{
    order:2;
}
#choseChildcare
{
    display:flex;
    
}
#childcareBenefits{
    display:flex;
   
   
}
#childcare main {
    display:flex;
    border: 10px dotted green;   
    flex-direction: column;
}
#poviders
{
    display: none;
}

@keyframes color-change {
  from { background-color:transparent;}
  to { background-color: black; }
}





