*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;

    
}

header{
    display: flex;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url(imgs/HeartofKYWebLogo.jpg);
    background-size: cover;
    background-position: center;
    height:400px;
    border: 5px solid black;
    flex-direction: column;
    align-content: center;

}

header .title{
    display:flex;
    font: "Rock Salt";
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size:39px;
    margin: auto;
    flex-wrap:wrap;
    border: 1px solid black;
    color: rgba(249, 249, 249, 1);
    height: fit-content;
    order:1;
}

header nav{
    /*hey.*/
    order:0;
    /*don't touch the order*/
}

nav{

    display: inline-flex;
    width: 100%;
    height: fit-content;
    align-items: stretch;
    flex-grow: auto;
    justify-content: flex-end;
    background-color: grey;
   
}

nav ul {
    list-style: none;
    gap:20px;
    display:flex;   
}

.logo{
    display: none;
}

.social:nth-child(1) img{
    /*background-color: #1877f2;*/
    /*okay we*/
    border-radius: 100%;
    background-image: linear-gradient(#1877f2, #6e8cb5);
}
.social:nth-child(2) img{
    background-color: #fe005c;
    border-radius: 100%;
    background-image: linear-gradient(#eb89ad,#fe005c);
}
aside{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0px 20px 0px;
}

p,h2,h3,address{ 
    margin: 10px 30px 10px 30px;
}

.social:not(#home){
    display:none;
}






