*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 232, 240);
}

header {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 400px;
  flex-direction: column;
  align-content: center;
}


/*all background images oare from pexels and have public domain*/
#home header{
    background-image:
    linear-gradient(transparent, rgb(238, 232, 240)),
    url(imgs/home.jpg);

    background-size: length;
}
#childcare header{
    background-image:
    linear-gradient(transparent, rgb(238, 232, 240)),
    url(imgs/childcare.jpg);
    background-size: length;

}
#activities header{
    background-image:
    linear-gradient(transparent, rgb(238, 232, 240)),
    url(imgs/activities.jpg);
    background-size: length;
}
#support header{
    background-image:
    linear-gradient(transparent, rgb(238, 232, 240)),
    url(imgs/support.jpg);
    background-size: length;
}
#preschool header{
    background-image:
    linear-gradient(transparent, rgb(238, 232, 240)),
    url(imgs/preschool.jpg);
    background-size: length;
}
#concerns header{
    background-image:
    linear-gradient(transparent, rgb(238, 232, 240)),
    url(imgs/concerns.jpg);
    background-size: length;
}

.links li {
  list-style: none;
}
#home main > section {
  margin-top: 50px;
  margin-bottom: 50px;
}
a:not(nav a) {
  color: rgb(0, 114, 153, 1);
}

#home h2 {
  font-size: 30px;
  font-weight: 900;
}

p a{
    text-decoration: none;
    font-weight: bold;
}

link #home p{
  font-size: 18px;
  font-style: "PT Sans", sans-serif;
  margin-top: 20px;
  font-weight: lighter;
  text-decoration: none;
  min-height: 30px;
  color: rgb(35, 32, 32);
}

header .title {
  display: flex;
  width: 300px;
  font-family: "Rock Salt", cursive;
  font-weight: 600;
  text-align: center;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: auto;
  flex-wrap: wrap;
  color: rgba(249, 249, 249, 1);
  height: fit-content;
  order: 1;
  background: radial-gradient(transparent, rgba(74, 85, 172, 0.925), rgba(93, 35, 128, 0.25));
  border-radius: 12px;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  align-content: center;
  align-items: center;
  flex-grow: auto;
  justify-content: flex-end;
  animation: color-change 0.01s;
  animation-timeline: scroll();
}

nav ul {
  list-style: none;
  gap: 30px;
  font-family: Helvetica;
  display: flex;
  margin-right: 60px;
  font-size: 20px;
}

header a:link {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

nav a:visited {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

nav::before {
  display: flex;
  content: "Heart of Kentucky Kids";
  position: fixed;
  left: 5px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  font-family: Helvetica, sans-serif;
  font-size: 15pt;
  align-self: center;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 25px;
}

.logo {
  display: none;
}

#inspiration p {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 600;
  color: rgba(0, 114, 153, 1);
}

.social:nth-child(1) img {
  /*background-color: #1877f2;*/
  /*okay this is is cool. I like what we did for the gradient*/
  border-radius: 100%;
  background-image: linear-gradient(#1877f2, #6e8cb5);
  width: 60px;
}
.social:nth-child(2) img {
  /*I think we can add a linear gradient where the patterns of 
    Instagram flow in*/
  background-color: #fe005c;
  border-radius: 100%;
  background-image: linear-gradient(#ff8800, #fe005c);
  width: 60px;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0px 20px 0px;
}

p,
h2,
h3,
address,
.phone {
  margin: 10px 15% 10px 15%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgba(0, 114, 153, 1);
}

ul {
  margin: 10px 15% 10px 15%;
}

/*Childcare section*/

#childcare aside,
#activities aside,
#support aside,
#preschool aside,
#concerns aside {
  display: none; /* The socials image for every other pages except home is hidden.*/
}
#whyChildcare .imgdiv {
  display: none; /* There was a photo not in the original website which was removed.*/
}
#whyChildcare div {
  order: 2;
}

#childcare img {
  width: 350px;
}
#childcare .imgwrapper {
  margin: 80px;
  display: flex;
  flex-wrap: wrap;
}

.imgwrapper #whyChildcare {
  order: 1;
}

#childcare .imggroup.long {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-grow: 1;
}

#childcare h2 {
  font-size: 35px;
}

#poviders {
  display: none;
}

/*PreSchool section*/

#headStartPre {
  display: flex;
}
.imgwrapper {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
}
#preschool .imggroup.short {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 10px;
}
#HeadstartSection img {
  width: 160px;
}
#PublicPreschool img {
  width: 170px;
}

#PrivatePreschool img {
  width: 170px;
}

/*Support section*/

#support img {
  width: 200px;
}
#support .imggroup.short {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 10px;
}
/*Activities section*/
#activities img {
  width: 280px;
}

#activities .imggroup.short {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 10px;
}
.imggroup.long .links li a {
  color: white;
}

#activities .imggroup.long {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  flex-grow: 1;
  flex-shrink: 2;
  gap: 50px;
}
#programs p {
  margin-bottom: 5px;
}
iframe[src="https://www.youtube.com/embed/HVb7yfI0HT4"]
{
  width: 464px;
  height: 315px;
  align-self: center;
}

#dolly .links li,
#ready4k .links li {
  padding: 5px;
  list-style: none;
  margin: 20px;
  background-color: #0f86b9a5;
  border-radius: 5px;
  color: white;
  text-align: center;
}

#dolly a,
#ready4k a {
  text-decoration: none;
}

.note {
  margin: 50px;
}
@keyframes color-change {
  from {
    background: linear-gradient(rgb(29, 80, 153),transparent);
  }
  to {
    background-color: rgb(29, 80, 153);
  }
}
.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 600;
  font-style: normal;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/*Concerns section*/
#concerns .imgwrapper {
  display: flex;
  flex-wrap: wrap;
}
#concerns img {
  width: 300px;
}
#concerns .imggroup.long {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-grow: 1;
  align-items: center;
}

#activities .imgwrapper {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 40px;
margin: 0 auto;
max-width: 1200px;
}

#activities .imggroup {
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
text-align: center;
}


#activities .imggroup.bg {
background-image: url("imgs/kid.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

#activities .links a {
display: inline-block;
padding: 14px 22px;
font-size: 18px;
border-radius: 6px;
}

#activities .imggroup > div {
padding: 10px 15px;
}

#activites, .note{
    display: flex;
    justify-content: center;
}

#support .imgwrapper {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 30px;
max-width: 1200px;
margin: 0 auto;
}

.imggroup.short {
background: linear-gradient(40deg,#0f86b9dc,#aa6ad5);
border-radius: 50px;
padding: 20px;
margin-left: 3px;
margin-right: 3px;
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

#support .imggroup.short img {
margin-bottom: 15px;
}
.imggroup.short img{
border-radius: 25px;
}
.imggroup.long img{
border-radius: 25px;

}
#support .imggroup.short p {
margin: 10px 0;
}

.imggroup.long{
    background: linear-gradient(#3a669fc3, #924cd471);
    border-radius: 50px;
    padding: 20px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: larger;
    color:#ffffff;
}