*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;

    
}

header{
    display: flex;
    background-image: url(imgs/HeartofKYWebLogo.jpg);
    background-size: cover;
    background-position: center;
    height:400px;
    
}

.title{
    display:flex;
    font-family: "Rock Salt";
    font-size:20px;
    margin-left:10px;
    flex-wrap:wrap;
    border: 1px solid black;
    color: rgba(249, 249, 249, 1);
    
    
}

nav ul {
    list-style: none;
    display:flex;
    width:500px;
    border: 1px solid black;
    justify-content: space-around;
    margin-left:50px;
    
}

.logo{
    display: none;
}

.social:nth-child(1) img{
    /*background-color: #1877f2;*/
    /*okay we*/
    border-radius: 100%;
    background-image: linear-gradient(#1877f2, #6e8cb5);
}
.social:nth-child(2) img{
    background-color: #fe005c;
    border-radius: 100%;
    background-image: linear-gradient(#eb89ad,#fe005c);
}
aside{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0px 20px 0px;
}

p{ 
    margin: 10px 30px 10px 30px;
}

h2{
    margin: 0px 30px 0px 30px;
}

h3{
    margin: 0px 30px 0px 30px;
}
address{ 
    margin: 0px 30px 0px 30px;
}


