*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    font-family: PT Sans;
}

header{
    display: flex;
    background-image: url(imgs/HeartofKYWebLogo.jpg);
    flex-wrap: wrap;
    height:400px;
    
}
.logo{
    display: none;
}

.title{
    font-size: 39pt;
    font-family: 'Rock Salt';
    font-weight: 400;
    color: rgba(249, 249, 249, 1);
}

