*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    font-family: PT Sans;
}

header{
    display: flex;
    background-image: url(imgs/HeartofKYWebLogo.jpg);
    background-size: cover;
    background-position: center;
    height:400px;
    
}

.title{
    display:flex;
    font-family: "Rock Salt";
    font-size:50px;
    width: 300px;
    flex-wrap:wrap;
    border: 1px solid black;
}

nav ul {
    list-style: none;
    display:flex;
    width:500px;
    border: 1px solid black;
    justify-content: space-around;
    margin-left:50px;
    
}

.logo{
    display: none;
}

.title{
    font-size: 39pt;
    font-family: 'Rock Salt';
    font-weight: 400;
    color: rgba(249, 249, 249, 1);
}

